<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">

          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          </div>


          <div id="cartList" class="card rounded-3 mb-4">


          </div>
          <div class="card rounded-3 mb-4">
            <div class="m-3 d-flex justify-content-end">
              <h5 id="totalCompra" class="mb-0"></h5>
            </div>
          </div>



          <div class="card">
            <div class="card-body">
              <button id="checkoutButton" type="button" class="btn btn-warning btn-block btn-lg">Checkout</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <script src="/js/cart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

</body>

</html>