<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <div class="loginForm" id="formContainer">
      <form class="restorePasswordForm" id="restorePassword">
        <label for="password1">Write your new password:</label>
        <input type="password" id="password1" required/>
        <label for="password2">Write your new password again:</label>
        <input type="password" id="password2" required/>
        <Button type="submit">Send</Button>
      </form>
    </div>

    <script src="/js/restorePassword.js"></script>
  </body>
</html>